@use "./variables" as *;
@use "./media-queries" as *;
@use "./flex" as *;

.nav {
  margin: 0 auto;

  &__group {
    @include flex($align: flex-end, $justify: space-between);
    margin-bottom: 1rem;
  }

  &__brand-link {
    @include flex($align: flex-end);
    gap: 0.5rem;

    &:hover {
      text-decoration: none;
    }
  }

  &__header {
    color: $white;
    font-size: 1rem;
    padding: 0 0 0.25rem 0;

    @include tablet {
      padding-bottom: 0.5rem;
    }
  }

  &__list {
    @include flex($justify: flex-end);
    gap: 0.75rem;
    list-style: none;
    margin: 0;
    padding: 0;

    @include tablet {
      flex-direction: row;
      gap: 1rem;
    }

    @include desktop {
      gap: 2rem;
    }

    &--icons {
      align-items: flex-end;
    }
  }

  &__link {
    color: $peach;
    font-weight: bold;
    padding: 0.5rem 0.25rem;
    width: 100%;

    &--current {
      text-decoration: underline;
    }
  }

  &__icon {
    color: $white;
    height: 1.5rem;
  }
}
