@use "./partials/global" as *;
@use "./partials/variables" as *;
@use "./partials/media-queries" as *;
@use "./partials/flex" as *;
@use "./partials/header" as *;
@use "./partials/nav" as *;
@use "./partials/footer" as *;

/* Global styles */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: $white;
  color: $black;
  font-family: sans-serif;
  font-size: 1em;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

h1 {
  color: $white;
  font-size: 2.5em;
  margin: 0 auto;

  @include desktop {
    font-size: 4.25rem;
  }
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 1.5em;
  padding-bottom: 0.25em;
}

h1,
h2,
h3 {
  margin: 0;
  padding-top: 0.5em;
}

h1,
h2,
h3,
nav a {
  font-family: "Montserrat", sans-serif;
}

a {
  color: $lavender;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a p {
  margin-bottom: 0.25em;
}

figure {
  margin: 0;
}

figure figcaption {
  font-style: italic;
  text-align: center;
}

iframe {
  background: #222;
}

.content-wrap {
  margin: 0 auto;
  max-width: 800px;
  padding: 60px 0;
  width: 85%;
}

.divider > section {
  padding-top: 25px;
  padding-bottom: 25px;
}

.divider > section:last-of-type {
  border-bottom: none;
}

/* Header */
header {
  background-color: $black;
  color: $white;
  text-align: center;
}

header .content-wrap {
  padding-bottom: 10px;
}

/* About */
.about {
  background: $lavender;
  color: $white;
}

/* Featured projects */
.projects {
  &__image {
    box-shadow: 0 0 5px #bbb;
    max-width: 100%;

    @include desktop {
      min-width: 300px;
    }
  }
}

.projects .btn {
  background-color: $lavender;
  border-radius: 2px;
  color: $white;
  display: inline-block;
  margin-bottom: 10px;
  padding: 8px 10px;
  text-decoration: none;
}

.projects .btn:hover {
  opacity: 0.85;
}

.project-item {
  @include desktop {
    @include flex;
    gap: 36px;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.project-item h3 {
  padding-top: 0;
}

.project-item p {
  margin-top: 0;
}

/* Work experience */
.work-experience {
  background-color: $black;
  color: $white;
}

.work-experience a {
  color: $peach;
}

.job-details p {
  margin: 0;
}

/* Education */
.education {
  &__details {
    margin-top: 2.25rem;
  }

  &__text {
    margin: 0.5rem 0;
  }

  &__subject-list {
    margin: 0;
  }
}

/* Publications List */
.books,
.articles {
  list-style: none;
  margin-top: 20px;
}

.articles p {
  margin-bottom: 15px;
}

/* Examples */
.title .content-wrap {
  padding-bottom: 0;
}

.examples .content-wrap {
  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 20px 0;
  row-gap: 40px;
}

.examples h3 {
  margin: 0;
  padding: 0 0 5px 0;
}

.examples .content-wrap {
  padding: 20px 0 10px 0;
}

.examples .example {
  max-width: 390px;
}

.example img {
  width: 100%;
}

/* Highlights */
.highlights {
  padding: 0 1.5rem;

  @include tablet {
    padding: 0;
  }

  &__heading {
    margin: 0 0.5rem;
    padding: 0 0 5px 0;
  }

  &__article {
    margin: 0 auto;
    max-width: 800px;
    padding: 30px 0 60px 0;

    @include tablet {
      width: 85%;
    }

    &:last-of-type {
      padding-bottom: 0;
    }
  }

  &__content {
    @include tablet {
      @include flex;
      gap: 1.5rem;
      margin-top: 0.75rem;
    }

    @include desktop {
      gap: 2rem;
    }
  }

  &__group {
    padding: 0.5rem;

    @include tablet {
      @include flex($direction: column);
    }
  }

  &__image {
    box-shadow: 0 0 5px #bbb;
    max-width: 300px;
    width: 100%;

    @include tablet {
      width: 300px;
    }
  }

  &__link {
    margin-top: 1rem;
  }

  &__text {
    margin: 0.5rem 0;

    @include tablet {
      &:first-child {
        margin-top: 0;
      }
    }
  }

  &__tech-stack-list {
    margin: 0.5rem 0;
  }
}

/* Media Queries */
@media screen and (min-width: 750px) {
  .job-item {
    column-gap: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .project-feature {
    display: flex;
    gap: 20px;
  }
}

@media screen and (max-width: 750px) {
  .projects .btn {
    text-align: center;
    width: 100%;
  }
}

@media screen and (max-width: 775px) {
  /* Global */
  // h1 {
  //   font-size: 3.25em;
  // }

  h2 {
    font-size: 2em;
  }

  .content-wrap {
    padding: 20px 0;
  }

  /* Header */
  header .content-wrap {
    padding: 20px 0 0 0;
    width: 100%;
  }
}

html {
  visibility: visible;
  opacity: 1;
}
