:root {
  --black: #221d23;
  --red: #c1292e;
  --slate: #628395;
  --lavender: #626a95;
  --peach: #f3d8c7;
  --white: #f7f9f9;
}

/* Global styles */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: var(--white);
  color: var(--black);
  font-family: sans-serif;
  font-size: 1em;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

h1 {
  color: var(--white);
  font-size: 4.25em;
  margin: 0 auto;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 1.5em;
  padding-bottom: 0.25em;
}

h1,
h2,
h3 {
  margin: 0;
  padding-top: 0.5em;
}

h1,
h2,
h3,
nav a {
  font-family: "Montserrat", sans-serif;
}

a {
  color: var(--lavender);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a p {
  margin-bottom: 0.25em;
}

figure {
  margin: 0;
}

figure figcaption {
  font-style: italic;
  text-align: center;
}

iframe {
  background: #222;
}

.content-wrap {
  margin: 0 auto;
  max-width: 800px;
  padding: 60px 0;
  width: 85%;
}

.divider > section {
  border-bottom: 1px dashed var(--slate);
  padding: 25px 0;
}

.divider > section:last-of-type {
  border-bottom: none;
}

/* Header */
header {
  background-color: var(--black);
  color: var(--white);
  text-align: center;
}

header .content-wrap {
  padding-bottom: 10px;
}

/* Navbar */
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style: none;
  padding: 50px 0 0 0;
}

nav li {
  flex: 1 1 auto;
  font-size: 20px;
  padding: 10px 0;
}

nav li + li {
  margin-left: 20px;
}

nav a {
  background-color: var(--peach);
  color: var(--black);
  display: inline-block;
  font-weight: bold;
  padding: 10px 0;
  width: 100%;
}

nav a:hover {
  opacity: 0.85;
  text-decoration: none;
}

.current {
  text-decoration: underline;
}

/* About */
.about {
  background: var(--lavender);
  color: var(--white);
}

/* Featured projects */
.projects .btn {
  background-color: var(--lavender);
  border-radius: 2px;
  color: var(--white);
  display: inline-block;
  margin-bottom: 10px;
  padding: 8px 10px;
  text-decoration: none;
}

.projects .btn:hover {
  opacity: 0.85;
}

.project-item {
  display: flow-root;
  overflow: hidden;
}

.project-item h3 {
  padding-top: 0;
}

.project-item p {
  margin-top: 0;
}

/* Work experience */
.work-experience {
  background-color: var(--black);
  color: var(--white);
}

.work-experience a {
  color: var(--peach);
}

.job-details p {
  margin: 0;
}

/* Education */
.education p,
.education ul {
  margin: 0;
}

.education section {
  padding-bottom: 20px;
}

/* Publications List */
.books,
.articles {
  list-style: none;
  margin-top: 20px;
}

.articles p {
  margin-bottom: 15px;
}

/* Examples */
.title .content-wrap {
  padding-bottom: 0;
}

.examples .content-wrap {
  display: grid;
  -moz-column-gap: 20px;
       column-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 20px 0;
  row-gap: 40px;
}

/* .examples h2 {
  grid-column: 1 / -1;
  grid-row: 1;
} */
.examples h3 {
  margin: 0;
  padding: 0 0 5px 0;
}

.examples .content-wrap {
  padding: 20px 0 10px 0;
}

.examples .example {
  max-width: 390px;
}

.example img {
  width: 100%;
}

/* Media Queries */
@media screen and (min-width: 750px) {
  .project-item img {
    float: left;
    margin-right: 20px;
  }
  .job-item {
    -moz-column-gap: 20px;
         column-gap: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  .project-feature {
    display: flex;
    gap: 20px;
  }
}
@media screen and (max-width: 750px) {
  .projects .btn {
    text-align: center;
    width: 100%;
  }
}
@media screen and (max-width: 775px) {
  /* Global */
  h1 {
    font-size: 3.25em;
  }
  h2 {
    font-size: 2em;
  }
  .content-wrap {
    padding: 20px 0;
  }
  /* Header */
  header .content-wrap {
    padding: 20px 0 0 0;
    width: 100%;
  }
  nav ul {
    flex-direction: column;
    padding: 20px 0 1px 0;
  }
  nav li,
  nav li + li {
    margin: 1px 0;
    padding: 0;
  }
}
html {
  visibility: visible;
  opacity: 1;
}/*# sourceMappingURL=main.css.map */